

/*Este é um comentário de linha!*/
/*
    Este é um comentário de Bloco
!*/

/*Anatomia de uma regra CSS*/
/*
    Seletor {
        Propriedade: Valor;
    }

/* Exemplo de Regra CSS completa*/

     /*Exemplo de seletores*/
     h1 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: serif;
     }

      /* #cabecalho{
        background-image: url("../img/img-01-banner-1280×640.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-size: cover ;
     } */

    /*Seletores de classe*/
     .link {
        /* 255,0,0.074 */
        border: 1px solid rgba(80, 80, 80);
        display: inline-block;
        margin: 0 2% ;
        background-color:rgba(0, 60, 255, 0.911);
        padding: 10px;
        width: 15%;
        transition: all 0.4s ease-out;
       
        &:hover{
            background-color: rgba(0, 132, 255, 0.705)
        }

        /*Nesting elements*/
         a {
            display: inline-block;
            text-decoration: none;
            color: black;
            
           
            /*Nesting elements*/
            img{
                display: inline-block;
                width: 25%;
            }

        }
     }

     /*Seletores de ID*/
     #menu ul{
        list-style: none;
        text-align: center;
     }
    /*Cp1 */

   header{
    background-color: rgba(1, 1, 156, 0.925);
   }
     
   h2{
    font-family: serif;
   }

   #rodape nav{
    font-weight: bold;
   }

    /* não fiz o 4 */

    p{
        color: green
    }
    
    footer{
        border-top: 2px solid red;
    }

    