h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: serif;
 }

 .link {
    
    border: 1px solid rgba(80, 80, 80);
    display: inline-block;
    margin: 0 2% ;
    background-color:rgba(0, 60, 255, 0.911);
    padding: 10px;
    width: 15%;
    transition: all 0.4s ease-out;
 }

 a {
    display: inline-block;
    text-decoration: none;
    color: black;
    
   
    /*Nesting elements*/
    img{
        display: inline-block;
        width: 25%;
    }

}
#menu ul{
    list-style: none;
    text-align: center;
 }


header{
background-color: rgba(1, 1, 156, 0.925);
}
 
h2{
font-family: serif;
}

#rodape nav{
font-weight: bold;
}



p{
    color: green
}

footer{
    border-top: 2px solid red;
}

